.feedback-form {
  margin: 0 auto;

  padding: 24px;

  border-radius: 8px;
  width: 408px;
  height: 296px;

  background-color: #ffffff;
}

.label-form {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-form {
  display: block;

  width: 100%;
  height: 40px;

  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px 20px 5px 20px;

  border-radius: 4px;
  border: 1px solid #808080;
}

.textarea-form {
  display: block;

  width: 100%;
  height: 80px;

  margin-top: 8px;
  margin-bottom: 16px;
  padding: 5px 20px 5px 20px;

  border-radius: 4px;
  border: 1px solid #808080;
}

.btn-form {
  padding: 8px 16px 8px 16px;

  width: 95px;
  height: 40px;

  border-radius: 8px;
  border: none;

  background: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;
}
